{% extends 'base.html' %}


{% block content %}
<div class="page-header">
    <h1>{% block title %} {{ exam.subject }}{% endblock %}</h1>
</div>
<table class="table table-bordered">
    <tr>
        <td>Topic</td>
        <td>{{ exam.topic }}</td>
    </tr>
    <tr>
        <td>Deadline</td>
        <td>{{ exam.deadline }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ exam.description }}</td>
    </tr>
</table>
<ul class="nav nav-tabs">
  {% for subject in subjects %}
    <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
      <a data-toggle="tab" href="#{{ subject.pk }}">{{ subject.name }}</a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for subject in subjects %}
    <div id="{{ subject.pk }}" class="tab-pane {% if forloop.first %}active{% endif %}">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Student</th>
            {% for exam in subject.exams %}
              <th>{{ exam }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for student in subject.students %}
            <tr>
              <td>{{ student.obj }}</td>
            {% for grade in student.grades %}
              <td>{{ grade.value }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>

{% endblock %}

