{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h1>{% block title %}{{ course.number }}{% endblock %}</h1>
  <h2>{{ course.name }}</h2>
<h2>{{ subject.name }}</h2>
</div>


<div class="tab-content">
  {% for subject in subjects %}
    <div id="{{ subject.pk }}" class="tab-pane {% if forloop.first %}active{% endif %}">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Student</th>
            {% for assignment in subject.assignments %}
              <th>{{ assignments }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for research in subject.researches %}
            <tr>
              <td>{{ researches }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
{% endblock %}
