{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>{% block title %} {{ assignment.subject }}{% endblock %}</h1>
  </div>
  <table class="table table-bordered">
    <tr>
      <td>Topic</td>
      <td>{{ assignment.topic }}</td>
    </tr>
    <tr>
      <td>Deadline</td>
      <td>{{ assignment.deadline }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ assignment.description }}</td>
    </tr>
  </table>

  <table class="table table-bordered">
  <tr><th>#</th><th>File</th><th>Date</th>
{% for group in user.groups.all %}
  {% if group.name == 'Staffs' %}
  <th>Student</th>
  {% endif %}
{% endfor %}
  </tr>
  {% for upload in assignment.assignmentupload_set.all %}
    {% if upload.user|escape ==  request.user.username %}
    <tr><td>{{ forloop.counter }}</td><td><a href="{{ upload.file.url }}">{{ upload.file.url }}</a></td><td>{{ upload.created }}</td></tr>
    {% endif %}
  {% for group in user.groups.all %}
  {% if group.name == 'Staffs' %}
      <tr><td>{{ forloop.counter }}</td><td><a href="{{ upload.file.url }}">{{ upload.file.url }}</a></td><td>{{ upload.created }}</td><td>{{ upload.user.get_full_name }}</td></tr>
    {% endif %}
  {% endfor %}
  {% endfor %}
  </table>

{% for group in user.groups.all %}
  {% if group.name == 'Students' %}
    {% if assignment.is_upcoming %}
      {% load render_partial %}
      {% render_partial 'assignments.views.AssignmentUploadView' pk=assignment.pk %}
    {% else %}
      <div class="alert alert-warning">
          Form has been closed, you should upload your assignment before {{ assignment.deadline }} !
      </div>
    {% endif %}
  {% endif%}
{% endfor %}

{% endblock %}
