{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>{% block title %} {{ assignment.subject }}{% endblock %}</h1>
  </div>
  <table class="table table-bordered">
    <tr>
      <td>Topic</td>
      <td>{{ assignment.topic }}</td>
    </tr>
    <tr>
      <td>Deadline</td>
      <td>{{ assignment.deadline }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ assignment.description }}</td>
    </tr>
  </table>

  <table class="table table-bordered">
  <tr><th>#</th><th>File</th><th>Date</th></tr>
  {% for upload in assignment.assignmentupload_set.all %}
    <tr><td>{{ forloop.counter }}</td><td>{{ upload.file }}</td><td>{{ upload.created }}</td></tr>
  {% endfor %}
  </table>


{% if assignment.is_upcoming %}
  {% load render_partial %}
  {% render_partial 'assignments.views.AssignmentUploadView' pk=assignment.pk %}
{% else %}
  <div class="alert alert-warning">
      Form is closed, you should upload your assignment before {{ assignment.deadline }} !
  </div>
{% endif %}

{% endblock %}
