{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h2> {% block title %} {{ course.number }} - {{ course.name }} {% endblock %}</h2>
</div>


<div class="panel-group" id="accordion">
  {% for subject in subjects %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ subject.pk }}">
              <span class="glyphicon glyphicon-triangle-right"></span>  {{ subject.name }} <span class="pull-right"> {{ subject.staff }}</span></a>
          </h4>
        </div>
        <div id="{{ subject.pk }}" class="panel-collapse collapse">
          <div class="panel-body">
              <table class="table table-bordered">
                <tr><th>Students</th></tr>
                  {% for student in subject.students %}
                    <tr>
                      <td>{{ student.obj }}</td>
                    </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
  {% endfor %}
</div>

{% endblock %}
